{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Stats App</h1>
  </div>
</div>
<div class="container">
   <div class="alert alert-info text-center" role="alert">
<!--     Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps. -->
  </div>
</div>
{% endblock %}
