django
gunicorn
django-heroku
django-jsonfield
requests
django-s3direct
boto3
dbi
django-storages
django-cors-headers
twilio
cloudinary
noisereduce
numpy
pydub
librosa
eyed3
hmmlearn
ffprobe
anyjson
jsonfield
plotly
hashids
zipcodes
phonenumbers
whitenoise
mailchimp3
pyyaml 
ua-parser 
user-agents
django-user-agents
python-dotenv